/*HEADER*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');
body {
    height: 600px;
    font-family: 'Poppins', sans-serif;
}

p {
    font-family: initial;
    font-size: 16px;
    font-weight: 400px;
}

h1 {
    font-size: 20px;
    font-weight: 300;
    color: #FFFFFF;
}

#container-header {
    color: green;
}

h2 {
    font-size: 35px;
    line-height: normal;
}

.header {
    background-color: saddlebrown;
}

nav {
    display: flex;
    padding: 30px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li a {
    text-decoration: none;
    color: white;
    display: inline-block;
    font-size: 20px;
}

nav li {
    padding-right: 40px;
}

.button {
    margin-left: 200px;
}

.button:hover {
    width: 200px;
}

.btn {
    background-color: #E02C6D;
    width: 123PX;
    height: 44PX;
    color: white;
    transition-property: width;
    transition-duration: 3s;
}

.btn:hover {
    width: 200px;
}


/*Top-banner*/

.container-one {
    background-color: #e3e3e3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
}

.heading {
    padding-top: 80px;
    margin-left: 40px;
}

.banner img {
    width: 456px;
    height: 400px;
    margin-left: 120px;
    transition-property: width height;
    transition-duration: 3s;
}

.banner img:hover {
    transform: scale(1.1);
}

.conatinar-two {
    padding: 50px;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 30px;
}

.player {
    background-color: #f4511e;
    display: center;
    border: 1px solid white;
    width: 350px;
    height: 444px;
    padding: 15px;
    margin-left: 30px;
    box-shadow: 90px white;
    margin-bottom: 30px;
    align-items: center;
    justify-content: space-between;
    transition: 1s;
}

.player:hover {
    transform: scale(1.1);
    box-shadow: 10px 10px 10px;
}

.players img {
    width: 320px;
    height: 286px;
}


/*Highlights Section*/

.container-three {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: whitesmoke;
}

.highlights {
    margin-left: 120px;
    height: 329px;
    width: 469px;
    box-sizing: border-box;
}

.match img {
    padding: 40px;
    width: 467px;
    height: 327px;
    margin-left: 90px;
    transition: 2s;
}

.match img:hover {
    width: 70%;
    transform: scale(1.3);
    box-sizing: border-box;
}


/*Footer Section*/

footer {
    background-color: #6f9196;
}

.footer-logo img {
    padding: 50px;
    margin-left: 400px;
    height: 227px;
    width: 450px;
    position: fixed;
    box-sizing: border-box;
    transition: 2s;
}

.footer-logo img:hover {
    width: 500px;
    transform: scale(1.);
}

.social-media {
    margin-left: 450px;
}

.social-media a img {
    height: 50px;
    padding: 10px;
    transition: 2s;
}

.social-media a img:hover {
    transform: scale(1.3);
}

.copyright p {
    margin-left: 500px;
}